 <!-- About Section -->
 <section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="code-space">
            </div>
        </div>
        <div class="row">
            <p>
            <br>Hi, I'm (Quang) Minh Pho. I analyze, design and build up CI/CD process, improving its efficiency in high-tech industry business.
            <br>I'm specialized in <b>Software Development</b> in <b>CI/CD</b> with technologies like <b>Python, Ansible, Docker, Kubernetes</b> and <b>Microsoft's Cloud</b> offering (<b>Azure & GitHub EC/ES</b>). 
            <br>In my freetime, I enjoy tinkering my homelab - home automation deployment with latest/cool IoT technology in the market, reading books & playing video games
            </p>
        </div>
    </div>
</section>
